[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"zermelo.py" = {path = "./../zermelo.py"}
sqlalchemy = "*"
psycopg2-binary = "*"
table2ascii = "*"
py-cord = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
